<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ST4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestCompiler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestMisc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A05CF8C131A0B1A00DD20BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1BF84213352B4A001DB72E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1F302A13477891008562BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A2329A712F51185006C6627</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A235DD21319B58500876826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A235F041319CB5C00876826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A25583513492D7700BAE4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A2821B21348B260002EA109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A29D37613493EE100CF3ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A29D39013493EE200CF3ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A29D3BA134942CC00CF3ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A2C3017131967030056CE84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A2C314F1319743E0056CE84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A78610D134834B300ABFD40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A923EA51349651F00483121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A923EBA1349656400483121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A923ED71349661D00483121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB4376313483116008D1074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC1E429134A6245006BC31D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC1E437134A6246006BC31D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC1E44E134A62AD006BC31D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC9B0CD132C17D500B0017A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE554D413480F6E00123AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE83947134A923000070951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE8395C134A924B00070951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE8396A134A924B00070951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AFB7870134A73EC003CDA66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AFFA3CF134A6327005206DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
